head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="static/style.css")
  title #{info.videoDetails.title} - Minimal YouTube Player
  meta(name="viewport" content="width=device-width, user-scalable=no")
body
  script.
    0
  div(id="videoContainer")
    if video
      video(controls id="video" poster=info.videoDetails.thumbnails[info.videoDetails.thumbnails.length-1].url)
        source(src=format.url type="video/webm")
    p(id="title") #{info.videoDetails.title}
    if (query.desc)
      p(id="desc") !{description}
